@model I4GUI2020Vintereksamen.Models.DbModels.test

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>test</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.testId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
