@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Read more about: <a href="https://www.nhs.uk/conditions/stress-anxiety-depression/" target="_blank">Mental health and wellbeing</a>.</p>
    </div>

</div>


<div class="d-flex justify-content-center" style="margin-bottom:5em">
    <partial name="./Partial/_BannerImgPartial" />
</div>




<div class="container" style="margin-bottom:10em">
    <h2>Breathing exercise for stress</h2>
    <p>This calming breathing technique for stress, anxiety and panic takes just a few minutes and can be done anywhere.</p>
    <p>
        You will get the most benefit if you do it regularly, as part of your daily routine.

        You can do it standing up, sitting in a chair that supports your back, or lying on a bed or yoga mat on the floor.

        Make yourself as comfortable as you can. If you can, loosen any clothes that restrict your breathing.
    </p>

    <div class="line"></div>


    <p>
        If you're lying down, place your arms a little bit away from your sides, with the palms up. Let your legs be straight, or bend your knees so your feet are flat on the floor.

        If you're sitting, place your arms on the chair arms.

        If you're sitting or standing, place both feet flat on the ground. Whatever position you're in, place your feet roughly hip-width apart.
    </p>


    <p>
        <ul>
            <li>Let your breath flow as deep down into your belly as is comfortable, without forcing it.</li>
            <li>Try breathing in through your nose and out through your mouth.</li>
            <li>Breathe in gently and regularly. Some people find it helpful to count steadily from 1 to 5. You may not be able to reach 5 at first.</li>
            <li>Then, without pausing or holding your breath, let it flow out gently, counting from 1 to 5 again, if you find this helpful.</li>
            <li>Keep doing this for 3 to 5 minutes.</li>
        </ul>

    </p>

</div>
