@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        <li class="nav-item dropdown">
            <a class="nav-link  text-dark" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @*<i class="fas fa-user-circle fa-2x" style="margin-top:-5px;"></i>*@


                @*<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register" title="ImagePath">Hej @Model.ImagePath</a>*@

                @*<img alt="image" class="img-circle" src="~/uploads/@Model.ImagePath" />*@
                <img src="~/uploads/main-qimg-c0f2e7c8e5fb40c52acd389e5de0d314.png" style="width:30px;height:30px; background: #FFFFFF;
                        margin: auto;
                        -moz-border-radius: 60px;
                        border-radius: 100px;
                        padding: 1px;
                        " />
               

            </a>
            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item disabled text-dark" tabindex="-1" aria-disabled="true">Hej @User.Identity.Name</a>
                <div class="dropdown-divider"></div>

                <a class="dropdown-item text-dark" asp-area="Identity" asp-page="/Account/Manage/Index"><i class="fas fa-portrait"></i>&emsp;  Your profil</a>
                <a class="dropdown-item text-dark" href="#"><i class="fas fa-language"></i>&emsp;Language: English</a>
                <a class="dropdown-item text-dark" href="#"><i class="fas fa-cog"></i>&emsp; Settings</a>

                <div class="dropdown-divider"></div>

                <form id="logouts" class="dropdown-item text-dark" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <a class="text-dark" onclick="submitOut()"><i class="fas fa-sign-out-alt"></i>&emsp;Logout</a>
                </form>

            </div>
        </li>
    } else
    {
        @*<li class="nav-item" >
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>*@
        <li class="nav-item border-secondary">
            <a class="nav-link text-dark " asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-user-circle fa-1x"></i> SIGN IN</a>
        </li>
    }
</ul>

<script >
    function submitOut() {
        document.getElementById("logouts").submit()
}
</script>