
<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel" data-interval="10000">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item bannertemplet active" alt="Responsive image">
            <img src="~/img/banner/wellness/1251774.jpg" class="img-fluid" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Jon Kabat-Zinn</h5>
                <h7>“As long as you breathe, there is more right than wrong with you. Whatever else might be wrong.“</h7>
            </div>
        </div>
        <div class="carousel-item bannertemplet" alt="Responsive image">
            <img src="~/img/banner/wellness/14-148979_spa-4k-download-hd-wallpaper-high-resolution-high.jpg" class="img-fluid" alt="...">
            <div class="carousel-caption d-none d-md-block ">
                <h5>Saki Santorelli</h5>
                <h7>“Whether we offer or seek help, we are all hurt and we are all perfect.“</h7>
            </div>
        </div>
        <div class="carousel-item bannertemplet" alt="Responsive image">
            <img src="~/img/banner/wellness/359755.jpg" class="img-fluid" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Rumi</h5>
                <h7>“Do not turn away. Keep watching at the wounded site. There is there the light penetrates.“</h7>
            </div>
        </div>
        <div class="carousel-item bannertemplet" alt="Responsive image">
            <img src="~/img/banner/wellness/spa-accessories-white-tropical-flowers-spa-concepts-4k-massage.jpg" class="img-fluid" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Thich Nhat Hanh</h5>
                <h7>“The most precious gift we can give others is our presence. When we with attentive presence embrace those we love, they will flourish.”</h7>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
