@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Admin Page</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <br /><br />
    </div>

</div>






<div class="container">
    <div class="tooltips float-lg-left">
        <i class="fas fa-info-circle"></i>
        <span class="tooltiptexts text-sm-left">
            Denne side viser antal gæster der er på hotellet og så har reservere til i morgensmads buffen<br /> <br />

            "Reservere Tidspunkt" kan ses ved at holde markøren over "Værelset nummer"<br />
            Alle gæster som jeg blevet oprette med koden seed_date her et reservere tidspunkt til den dag du har køret koden.<br />
        </span>
        <br /><br />
    </div>
    
</div>




<div class="container">

    <table class="table col-12 table-hover">
        <thead>
            <tr class="main-table bg-table-dark">
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImagePath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
            
        </tbody>
    </table>

</div>