@{
    ViewData["Title"] = "Contact Form";
}

<div class="container">

    <h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>

    <div class="row">
        <form class="col col-xs-6" id="idFormContact">
            <div class="form-group">
                <label>Email *</label>
                <input type="email" class="form-control"
                       name="to" value="">
            </div>

            <div class="form-group">
                <label>Message *</label>
                <textarea class="form-control"
                          name="message"></textarea>
            </div>


            <button type="submit"
                    class="btn alert-dark">
                Send
            </button>
            <br>
            <br>
            <div id="idNotifError" style="display:none"
                 class="alert alert-danger">Fail to send a message</div>
            <div id="idNotifSuccess" style="display:none"
                 class="alert alert-success">Message is sent</div>
        </form>

    </div>


</div>